*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.full-page

{

    height: 100vh;

    width: 110%;

    background: rgb(48 146 203);

    position: fixed;

}

.sub-page

{

    width: 766px;

    height: 559px;

    position: absolute;

    background: url(bg1.jpg);

    background-size: cover;

    background-position: center;

    left: 15px;

    top: 1px;

}

.navigation-bar

{

    display: flex;

    align-items: center;

    padding: 0px;

    padding-left: 30px;

    padding-right: 30px;

    padding-top: 25px;

}

.logo

{

    position: fixed;

    margin-top: 20px;

}

.logo a

{

    text-decoration: none;

    color: #080707;

    font-size: 20px;
    
    font-weight: 600;

}

nav

{

    flex: 1;

    position: fixed;

    right: 0;

}

nav ul 

{

    display: inline-block;

    list-style: none;

    gap: 1rem;

}

nav ul li

{

    display: inline-block;

    margin-right: 20px;

    margin-top: 27px;

}

nav ul li a

{

    text-decoration: none;

    font-size: 20px;

    font-weight: 200;

    color: rgb(5, 4, 4);

    font-family: sans-serif;

}

nav ul li a:hover

{

    color: rgb(25, 199, 230);

}

.row

{

    display: flex;

    align-items: center;

    flex-wrap: wrap;

    justify-content: space-around;

}

.col-1

{

    flex-basis: 50%;

    min-width: 300px;

}

.form-box

{

    width: 390px;

	height: 450px;

	position: relative;

    top: 90px;

    left: 400px;

	background: rgba(0,0,0,0.6);

}

.main-heading

{

    color: rgb(0, 174, 255);

    padding-bottom: 20px;

}

.form

{

	position: relative;

	margin: 0 auto 100px;

	padding: 45px;

    text-align: center;

}

.form input

{

	font-family: sans-serif;

	outline: none;

    border: none;

    border-bottom: 1px solid black;

	width: 100%;

	margin: 0 0 15px;

	padding: 13px;

	font-size: 14px;

}

.form button

{

	font-family: sans-serif;

	width: 100%;

    color: white;

	font-size: 14px;

	cursor: pointer;

	padding: 15px;

    border: none;

    background: rgb(80, 220, 255);

}

.form .message

{

    font-size: 12px;

	margin: 15px 0 0;

    color: white;

}

.form .message a

{

	color: rgb(4, 182, 253);

	text-decoration: none;

}

.form .register-form{

	display: none;

}

.defination

{

    text-align: left;

    font-size: 30px;

    color: white;

    font-family: 'Kaushan Script', cursive;

    padding-left: 60px;

}
/*----SnowFlakes-----*/
.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
  }
  
  .snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
  }
  
  .snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
  }
  
  .snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
  }
  
  .snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
  }
  
  .snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
  }
  
  .snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
  }
  
  .snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
  }
  
  .snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 1.5s, 1s;
    animation-delay: 1.5s, 1s
  }
  
  .snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
  }
  
  .snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 2.5s;
    animation-delay: 3s, .5s
  }
  
  .snowflake:nth-of-type(10) {
    left: 25%;
    -webkit-animation-delay: 2s, 0s;
    animation-delay: 2s, 0s
  }
  
  .snowflake:nth-of-type(11) {
    left: 65%;
    -webkit-animation-delay: 4s, 2.5s;
    animation-delay: 4s, 2.5s
  }
   .snowflake {
    color: #fff;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    text-shadow: 0 0 5px #000;
  }
  